[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hanyupinyin"]
	path = hanyupinyin
	url = https://github.com/cuihr17/hanyupinyin
